.editBody {
    background-image: url("https://marvel-b1-cdn.bc0a.com/f00000000114295/www.assurant.com/images/assurant/aiz/photos/vehicle/in-person-workshops-v03.jpg?sfvrsn=4fb6505_4");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  