.formBody {
  background-image: url("https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_retina/public/1218524083-1201x667-9174174_0.jpg?itok=NnByAq1F");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.mainForm {
  /* background-color: rgb(25, 233, 248); */
  width:25% !important;
  margin:auto !important;
  border-radius: 30px !important;
  height: 80% !important;
  
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  text-align: center;
  color:white;
}

form,
input:focus {
outline:  none;
color:white;
}

/* input{
    text-align: center;

} */

.svg1 {
  width: 120px !important;
  cursor: pointer;
}

.checkbox{
  /* background-color:rgb(9, 224, 206); */
  display: flex !important;
  flex-direction: column !important;
}