form{
    display:flex;
    flex-direction:column;
    width:20%;
    margin: auto;
    text-align: center;
}

/* input{
    text-align: center;

} */

.svg1{
    width:120px !important;
    cursor: pointer;
}