.navbar-dark{
    position: sticky !important;
    top:0;
    bottom:0;
background-color: rgb(102, 88, 49) !important;
padding: 1px;
}

ul{
    display: flex;
    padding: 5px;
}

li{
    padding: 3px;
    list-style: none;
}